:root {
  --primary-color: 110, 226, 255;
  --secondary-color: 110, 175, 255;
  --background-color: rgba(11, 8, 32, 0.441);
}

.primary {
  color: rgb(var(--primary-color));
}

.secondary {
  color: rgb(var(--secondary-color)) !important;
}

.background {
  background-color: var(--background-color);
}
