.detection-box {
  position: absolute;
  width: 100%;
  margin: 1%;
  width: 96vw;

  color: rgba(var(--primary-color), 0.8);

  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.text-area {
  font-family: "Share Tech", sans-serif !important;
}

.disabled {
  background-color: grey;
  cursor: not-allowed;
}

.disabled:hover {
  background-color: grey;
  scale: 1;
}

.disabled:active {
  background-color: grey;
  scale: 1;
}
