.detection-box {
	position: absolute;
	margin: 1vw;
	margin-left: 0vw;
	padding: 1vw;
	padding-top: 0vw;
	width: 96vw;

	border: 3px solid rgb(var(--secondary-color));
	color: rgba(var(--primary-color), 0.8);

	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.detection-box > details > summary {
	color: rgb(var(--secondary-color));
	font-size: larger;
	cursor: pointer;
}

.detect-run {
	background-color: rgb(var(--primary-color), 0.8);
	border: none;

	width: 100%;
	margin-top: 1vw;

	font-family: "Share Tech", sans-serif;
	font-size: 3vw;
	cursor: pointer;

	transition: all 0.2s ease-in-out;
}

.detect-run:hover {
	background-color: rgb(var(--primary-color), 0.9);
	scale: 1.005;
}

.detect-run:active {
	background-color: rgb(var(--primary-color), 1);
	scale: 0.995;
}

.text-area {
	width: 99%;
	padding: 0.5%;
	margin: 0.5%;

	resize: none;
	border: 1px white solid;
	
	background: none;
	color: rgba(var(--primary-color), 0.8);
	font-family: "Share Tech", sans-serif;
}

.disabled {
	background-color: grey;
	cursor: not-allowed
}

.disabled:hover {
	background-color: grey;
	scale: 1;
}

.disabled:active {
	background-color: grey;
	scale: 1;
}