@import url("colors.css");

body {
	margin: 0;
	background-color: rgba(0, 0, 0);
	font-family: 'Share Tech', sans-serif;
}

#navbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 98vw;
	height: 50px;
	margin-left: 1vw;
	margin-right: 1vw;

	color: var(--primary-color);
}

#navbar-spacer {
	flex: 1;
}

#navbar-right {
	display: flex;
	flex-direction: row;
	gap: 2vw;
}