<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>EDMaL</title>

	<!-- styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

</head>

<body>
	<div id="navbar">
		<h1 id="navbar-left">EDMaL</h1>
		<span id="navbar-spacer"></span>
		<p id="navbar-credits">Made by Dr Chieu Hai Leong <br /> and Ang Jun Ray</p>
		<a href="https://github.com/AJR07/EDMaL" id="github"><img src="./static/assets/github.png"
				alt="github-link" /></a>
	</div>

	<div id="home">
		<h1>E</h1>
		<h2>hanced</h2>
		<h1>D</h1>
		<h2>etection of AI-generated text using</h2>
		<h1>Ma</h1>
		<h2>chine</h2>
		<h1>L</h1>
		<h2>earning</h2>
	</div>

	<div id="item-selector-container">
		<div id="item-selector">
			<h3 class="selected">SVM</h3>
			<h3>RFC</h3>
			<h3>Edit Distance</h3>
			<h3>Cosine Similarity</h3>
		</div>
		<span id="item-selector-slider"></span>
	</div>

	<p id="note">Note: For the sake of the demo, the <b>number of regenerations is set to 1</b> and the <b>truncate
			ratio is set to 50%</b>. Only GPT-2 (instead of GPT-3.5-Turbo) and all-MiniLM-L6-v2 (instead of Ada2) will be used. Many
		other parameters cannot match the research paper due to financial constraints.</p>

	<div id="detector">
		{% with functions=functions %}
		{% include "pages/svm.html" %}
		{% include "pages/rfc.html" %}
		{% include "pages/cosinesimilarity.html" %}
		{% include "pages/editdistance.html" %}
		{% endwith %}
	</div>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/selector.js')}}"></script>

</body>

</html>