<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
	<title>EDMaL</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/search.png') }}">

	<!-- styles -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
	<div class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid me-1">
			<h1 class="navbar-brand fw-bolder">EDMaL</h1>
			<div class="d-flex gap-1 align-items-center">
				<p class="nav-item text-end m-0 me-2 d-none d-lg-block secondary w-50 ms-auto">
					Developed by Ang Jun Ray with guidance from Dr Chieu Hai Leong
				</p>
				<a href="https://github.com/AJR07/EDMaL" class="navbar-brand">
					<img src="./static/assets/github.png" alt="github-link" width="50" />
				</a>
			</div>
		</div>
	</div>

	<div id="title" class="m-3">
		<div class="w-100 d-flex flex-column align-items-center">
			<img src="{{url_for('static', filename='assets/search.png')}}" alt="EDMaL" class="w-25" />
			<div id="button-container" class="d-flex flex-wrap justify-content-center">
				<div class="inline">
					<h1 class="d-inline-block fs-1 fw-bold">E</h1>
					<h2 class="d-inline-block fs-3 text-wrap">nhanced</h2>
				</div>
				<div class="inline text-center">
					<h1 class="d-inline-block fs-1 fw-bold">&#160;D</h1>
					<h2 class="d-inline-block fs-3 text-wrap">etection</h2>
					<h2 class="d-inline-block fs-3 text-wrap">of</h2>
					<h2 class="d-inline-block fs-3 text-wrap">AI-generated</h2>
					<h2 class="d-inline-block fs-3 text-wrap">text</h2>
					<h2 class="d-inline-block fs-3 text-wrap">using</h2>
				</div>
				<div class="inline">
					<h1 class="d-inline-block fs-1 fw-bold">&#160;Ma</h1>
					<h2 class="d-inline-block fs-3 text-wrap">chine</h2>
				</div>
				<div class="inline">
					<h1 class="d-inline-block fs-1 fw-bold">&#160;L</h1>
					<h2 class="d-inline-block fs-3 text-wrap">earning</h2>
				</div>
			</div>
		</div>
	</div>

	<div id="download-buttons" class="d-flex">
		<a class="m-3 w-100" download href="{{url_for('static', filename='assets/Report.pdf')}}">
			<button type="button" class="btn btn-success w-94">Download Report</button>
		</a>
		<a class="m-3 w-100" download href="{{url_for('static', filename='assets/Poster.pdf')}}">
			<button type="button" class="btn btn-success w-94">Download Poster</button>
		</a>
		<a class="m-3 w-100" download href="{{url_for('static', filename='assets/svm.pkl')}}">
			<button type="button" class="btn btn-success w-94">Download SVM Model</button>
		</a>
		<a class="m-3 w-100" download href="{{url_for('static', filename='assets/rfc.pkl')}}">
			<button type="button" class="btn btn-success w-94">Download RFC Model</button>
		</a>
	</div>

	<div id="note" class="bg-dark alert m-3 d-flex gap-2 flex-column justify-content-center secondary" role="alert">
		NOTE: For the purposes of this demo, some parameters have been changed:
		<ul>
			<li><b>Regeneration Number:</b> K = 1 (instead of the optimal <b>K = 5</b> configuration)</li>
			<li><b>Regeneration Model:</b> GPT-2 from huggingface (instead of the <b>GPT-3.5-Turbo model</b>
				tested).</li>
			<li><b>Truncation Ratio:</b> γ = 0.5</li>
			<li><b>Embeddings Generation Model for Cosine Similarity:</b> all-MiniLM-L6-v2 from huggingface (instead
				of the <b>Ada2</b> model tested)</li>
			<li><b>Text length:</b> Length Limit of 10 words specified (these methods is only highly optimised for
				longer texts of about <b>500 words</b> or more)</li>
		</ul>
		It is to be noted that the change in parameters could cause inaccuracy in the results.
	</div>

	<div id="item-selector-container" class="d-flex	flex-column">
		<div id="item-selector" class="d-flex flex-row gap-3">
			<button class="position-relative btn btn-dark selected fw-bold w-100">SVM</button>
			<button class="position-relative btn btn-dark fw-bold w-100">RFC</button>
			<button class="position-relative btn btn-dark fw-bold w-100">Edit Distance</button>
			<button class="position-relative btn btn-dark fw-bold w-100">Cosine Similarity</button>
		</div>
		<span id="item-selector-slider" class="position-relative w-0 bottom-0 mt-0"></span>
	</div>

	<div id="detector">
		{% with functions=functions %}
		{% include "pages/svm.html" %}
		{% include "pages/rfc.html" %}
		{% include "pages/cosinesimilarity.html" %}
		{% include "pages/editdistance.html" %}
		{% endwith %}
	</div>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/selector.js')}}"></script>

	<!-- boostrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>

</html>